# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL_ID=
OPENAI_API_BASE=

MODEL_MAX_TOKEN_WINDOW=128000

# Claude API 
CLAUDE_API_KEY=
CLAUDE_MODEL_ID=

# Claude api (antigravity)
CLAUDE_API_KEY_ANTI=
CLAUDE_BASE_URL=

# Groq API 
GROQ_API_KEY=
GROQ_MODEL_ID=

# Google API
GOOGLE_API_KEY=
GEMINI_MODEL=

# AWS Sagemaker
# HF_MODEL_ID=mlabonne/TwinLlama-3.1-8B-DPO

# HuggingFace 
HUGGINGFACE_ACCESS_TOKEN=
DATASET_HUGGINGFACE_WORKSPACE=
MODEL_HUGGINGFACE_WORKSPACE=
IS_DUMMY=False
BASE_TOKENIZER_ID=

# MongoDB database
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

DATABASE_HOST=
DATABASE_NAME=

# RAG
TEXT_EMBEDDING_MODEL_ID="sentence-transformers/all-MiniLM-L6-v2"
RERANKING_CROSS_ENCODER_MODEL_ID="cross-encoder/ms-marco-MiniLM-L-4-v2"
RAG_MODEL_DEVICE="cpu"

# Vector DB (Qdrant)
USE_QDRANT_CLOUD=False
QDRANT_DATABASE_HOST="localhost"
QDRANT_DATABASE_PORT=6333
QDRANT_CLOUD_URL="str"
QDRANT_APIKEY=""

# LinkedIn Credentials 
LINKEDIN_USERNAME=
LINKEDIN_PASSWORD=

# Comet ML
COMET_API_KEY=
COMET_PROJECT=

# AWS Authentication
AWS_ARN_ROLE=
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# UV
UV_LINK_MODE=copy